@charset "UTF-8";
/* Aquí están los estilos bootstrap originales y los míos sustituidos */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?qkdiob");
  src: url("fonts/icomoon.eot?qkdiob#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?qkdiob") format("truetype"), url("fonts/icomoon.woff?qkdiob") format("woff"), url("fonts/icomoon.svg?qkdiob#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: ""; }

.icon-chevron-small-down:before {
  content: ""; }

.icon-magnifying-glass:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-shopping-cart:before {
  content: ""; }

.icon-skype-with-circle:before {
  content: ""; }

.icon-facebook-with-circle:before {
  content: ""; }

.icon-flickr-with-circle:before {
  content: ""; }

.icon-google-with-circle:before {
  content: ""; }

.icon-instagram-with-circle:before {
  content: ""; }

.icon-linkedin-with-circle:before {
  content: ""; }

.icon-pinterest-with-circle:before {
  content: ""; }

.icon-twitter-with-circle:before {
  content: ""; }

.icon-youtube-with-circle:before {
  content: ""; }

/* Éstos son mis estilos */
/*Breakpoints*/
.fg-dark {
  color: #222222; }

.fg-gray, .menu--line .nav-link, .navbar-fixed .nav-link {
  color: #bcbcbc; }

.fg-white {
  color: #ffffff; }

.fg-main, .menu--simple .nav-link:hover, .menu--simple .active .nav-link {
  color: #BE86B9; }

.bg-dark, .topbar {
  background: #222222;
  color: #ffffff; }

.bg-gray {
  background: #bcbcbc;
  color: #ffffff; }

.bg-white, .navbar-fixed {
  background: #ffffff;
  color: #222222; }

.bg-main, .menu--line .nav-link:after, .menu--back .nav-menu-item:hover, .menu--back .nav-menu-item.active {
  background: #BE86B9;
  color: #ffffff; }

.border-bottom {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(188, 188, 188, 0.5); }

/*CLASES DESCRIPTIVAS TEXTO*/
.text-align-center {
  text-align: center; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.font-weight-bold {
  font-weight: bold; }

.text-transform-uppercase {
  text-transform: uppercase; }

/*CLASES PADDINGS*/
.padding-xs {
  padding: 5px; }

.padding-s {
  padding: 10px; }

.padding-m {
  padding: 15px; }

.padding-l {
  padding: 20px; }

.padding-tb-s {
  padding-top: 10px;
  padding-bottom: 10px; }

.padding-tb-m {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-tb-l {
  padding-top: 40px;
  padding-bottom: 40px; }

.padding-tb-xl {
  padding-top: 80px;
  padding-bottom: 80px; }

.padding-tb-xxl {
  padding-top: 160px;
  padding-bottom: 160px; }

.transition-breakpoints, .logo-size-s, .logo-size-m, .logo-size-l, .logo-size-xl {
  transition: width .25s linear;
  -moz-transition: width .25s linear;
  -webkit-transition: width .25s linear; }

.logo-size-xs {
  width: 100px; }

.logo-size-s {
  width: 200px; }
  @media only screen and (max-width: 479px) {
    .logo-size-s {
      width: 160px; } }

.logo-size-m {
  width: 250px; }
  @media only screen and (max-width: 479px) {
    .logo-size-m {
      width: 160px; } }

.logo-size-l {
  width: 300px; }
  @media only screen and (max-width: 479px) {
    .logo-size-l {
      width: 160px; } }

.logo-size-xl {
  width: 350px; }
  @media only screen and (max-width: 479px) {
    .logo-size-xl {
      width: 200px; } }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.pre-background, .hero {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.border-radius-m {
  border-radius: 10px; }

.border-radius-l {
  border-radius: 20px; }

.border-radius-xl {
  border-radius: 30px; }

body {
  font-family: "Poppins", sans-serif;
  color: #222222;
  margin: 0; }

h1 {
  font-size: 60px;
  margin-bottom: 0; }

.branding-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 25px; }

.branding-logo {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  padding-left: 0;
  padding-start: 0;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.max-width {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .max-width {
      max-width: 960px; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .max-width {
      max-width: 768px; } }
  @media only screen and (max-width: 479px) {
    .max-width {
      max-width: 479px; } }

.btn-simple {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 12px;
  text-tranform: uppercase;
  letter-spacing: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
  .btn-simple:hover {
    background: #ac65a6; }

.btn-big {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 15px 30px;
  font-size: 15px;
  text-tranform: uppercase;
  letter-spacing: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
  .btn-big:hover {
    background: #ac65a6; }

/* Menú con display:table */
/*.nav{
   display: table;
   table-layout: fixed;
   width:100%;
  @extend .pre-background;
   &-item{
     float: none;
     display: table-cell;
     vertical-align: middle;
  }
  &-menu{
    list-style: none;
    width:70%;
    @media only screen and (max-width: 479px){
      display: none;
    }
    @media only screen and (min-width: 480px) and (max-width: 768px){
      display: none;
    }
    @media only screen and (min-width: 768px) and (max-width: 960px){
      display: none;
    }
    &-item{
      display: inline-block;

    }
  }
  &-logo{
    width:15%;
    @media only screen and (max-width: 479px){
      width:50%;
    }
  }
  &-button{
    width:15%;
    @media only screen and (max-width: 479px){
      width:50%;
    }
    .btn-ham{
      @extend .padding-xs;
      @media only screen and (min-width: 960px){
        display: none;
      }
    }
    .btn-shop{
      @extend .padding-xs;
    }
  }
  &-link{
    @extend .font-weight-bold;
  }

}
*/
/* Menú con flexblox */
.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center; }
  .nav-menu {
    width: 60%; }
    @media only screen and (max-width: 479px) {
      .nav-menu {
        display: none; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .nav-menu {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 960px) {
      .nav-menu {
        display: none; } }
    .nav-menu-item {
      display: inline-block; }
  .nav-logo {
    width: 25%; }
    @media only screen and (max-width: 479px) {
      .nav-logo {
        width: 40%; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .nav-logo {
        width: 40%; } }
    @media only screen and (min-width: 768px) and (max-width: 960px) {
      .nav-logo {
        width: 50%; } }
  .nav-button {
    width: 15%; }
    @media only screen and (max-width: 479px) {
      .nav-button {
        width: 60%; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .nav-button {
        width: 60%; } }
    @media only screen and (min-width: 768px) and (max-width: 960px) {
      .nav-button {
        width: 50%; } }
    .nav-button .nav-button-item {
      vertical-align: middle;
      display: inline-block;
      height: 18px;
      margin: 0 5px; }
    @media only screen and (min-width: 960px) {
      .nav-button .btn-ham {
        display: none; } }
  .nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px; }

/*estilos del menú*/
.menu--simple .nav-link:hover, .menu--simple .active .nav-link {
  transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s; }

.menu--line .nav-link {
  position: relative; }
  .menu--line .nav-link:after {
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px); }
  .menu--line .nav-link:hover:after, .menu--line .menu--simple .active .nav-link:after, .menu--simple .active .menu--line .nav-link:after {
    opacity: 1;
    transform: translateY(15px); }

.menu--back .nav-menu-item:hover, .menu--back .nav-menu-item.active {
  transition: background 0.3s ease 0s;
  -moz-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease 0s; }

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .background .bg-image {
    width: 100%;
    height: 100%;
    z-index: -5;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute; }
  .background .bg-color {
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute; }

.hero .background {
  z-index: -5; }

.icon {
  font-size: 18px; }

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  transition: padding 0.3s ease 0s, background 0.3s ease 0s;
  -moz-transition: padding 0.3s ease 0s, background 0.3s ease 0s;
  -webkit-transition: padding 0.3s ease 0s, background 0.3s ease 0s;
  -o-transition: padding 0.3s ease 0s, background 0.3s ease 0s; }
  .navbar-fixed .branding-logo {
    width: 130px; }

.navbar-center .nav-item {
  width: 100%;
  text-align: center; }

.topbar {
  height: 25px; }

/*# sourceMappingURL=style.css.map */
