<div class="hero padding-tb-xxl">
    <div class="max-width">
      <div class="content text-align-center">
        <h1 class="fg-white text-transform-uppercase">Lorem ipsum dolor</h1>
        <p class="fg-white">Tincidunt et urna purus tristique eros vitae</p>
    </div>
</div>
<div class="background">
    <div class="bg-color" style="background: rgba(0, 0, 0, 0.3)"></div>
    <div class="bg-image" style="background-image:url(https://raw.githubusercontent.com/TLDxilon/nav/master/img/hero.jpg)"></div>
</div>
</div>