
<nav class="navbar-item navbar-item-menu text-align-{{ include.position-menu }} {{ include.style }}">
    <ul>
        <li class="nav-menu-item active"><a class="nav-link fg-gray" href="#">Home</a></li>
        <li class="nav-menu-item"><a class="nav-link fg-gray" href="#">About</a></li>
        <li class="nav-menu-item"><a class="nav-link fg-gray" href="#">Products</a></li>
        <li class="nav-menu-item"><a class="nav-link fg-gray" href="#">News </a></li>
        <li class="nav-menu-item"><a class="nav-link fg-gray" href="#">Contact</a></li>
    </ul>

</nav>