{% if site.navbutton %}<a class="utiles-item btn btn--small btn--outline border-radius-l" href="{{site.navbutton}}" >Login</a>{% endif %}
{% if site.iconshop %}<a class="utiles-item btn-shop" href="{{site.iconshop}}"><span class="icon icon-shopping-cart2 fg-gray"></span></a>{% endif %}
{% if site.iconsearch %}
<!--
<a class="utiles-item btn-search" href="#searchbar">Search<span></span></a>
-->
<a class="utiles-item btn-search" href="#searchbar">
    <div class="btn-open-search"><span class="icon icon-search fg-gray"></span></div>
    <div class="btn-close-search"><span class="icon icon-x fg-gray"></span></div>
</a>

{% endif %}
<!--
<a class="utiles-item btn-ham" href="#menu-movil">Menu<span></span></a>
-->

<a class="utiles-item btn-menu">
    <div class="btn-open-menu"><span class="icon icon-menu3 fg-gray"></span></div>
    <div class="btn-close-menu" href=""><span class="icon icon-x fg-gray"></span></div>
</a>
