{% if site.iconshop %}<a class="utiles-item btn-shop" href="{{site.iconshop}}"><span class="icon icon-shopping-cart fg-gray"></span></a>{% endif %}
{% if site.navbutton %}<a class="utiles-item btn btn--simple border-radius-l bg-main fg-white" href="{{site.navbutton}}" >Login</a>{% endif %}
{% if site.iconsearch %}
<!--<a class="utiles-item btn-search" href="#searchbar">Search<span></span></a>-->

<a class="utiles-item btn-search" href="#searchbar">
    <div class="btn-open-search"><span class="icon icon-magnifying-glass fg-gray"></span></div>
    <div class="btn-close-search"><span class="icon icon-cross fg-gray"></span></div>
</a>

{% endif %}
<div class="utiles-item btn-ham">
    <a class="btn-open" href="#menu-movil"><span class="icon icon-menu fg-gray"></span></a>
    <a class="btn-close" href=""><span class="icon icon-cross fg-gray"></span></a>
</div>

