<div class="options">
    <a class="padding-s bg-main" href="/nav/option1.html">OPTION 1</a>
    <a class="padding-s bg-main" href="/nav/option2.html">OPTION 2</a>
    <a class="padding-s bg-main" href="/nav/option3.html">OPTION 1 + BIG LOGO</a>
    <a class="padding-s bg-main" href="https://github.com/TLDxilon/nav" target="_blank">GIT</a>

</div>


<h2>TAMAÑO DEL LOGO</h2>

    <a href="#" class="js-logo-size" data="xs">MUY PEQUEÑO</a>
    <a href="#" class="js-logo-size" data="s">PEQUEÑO </a>
    <a href="#" class="js-logo-size" data="m">MEDIANO</a>
    <a href="#" class="js-logo-size" data="l">GRANDE</a>
    <a href="#" class="js-logo-size" data="xl">MUY GRANDE</a>

