<div class="options">
    <a class="padding-s bg-main" href="/{{ site.fold }}">Logo left + hero</a>
    <a class="padding-s bg-main" href="/{{ site.fold }}/option1.html">Logo left + no-hero</a>
    <a class="padding-s bg-main" href="/{{ site.fold }}/option2.html">Logo center + hero</a>
    <a class="padding-s bg-main" href="/{{ site.fold }}/option3.html">Logo right + hero</a>
    <a class="padding-s bg-main" href="/{{ site.fold }}/option4.html">Logo center + no hero</a>
    <a class="padding-s bg-main" href="https://github.com/TLDxilon/nav" target="_blank">GIT</a>

</div>
