<div class="options">


    <a class="padding-s bg-main" href="https://github.com/TLDxilon/nav" target="_blank">GIT</a>

    <h2>Posición del logo</h2>
    <a href="#" class="js-option" data-element=".navbar" data-option="navbar-logo--" data-value="left">Left</a>
    <a href="#" class="js-option" data-element=".navbar" data-option="navbar-logo--" data-value="center">Center</a>

<h2>Tamaño del logo</h2>

<a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="xs">XS</a>
<a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="s">S</a>
<a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="m">M</a>
<a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="l">L</a>
<a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="xl">XL</a>

<h2>Padding</h2>
<a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-tb-" data-value="xs">XS</a>
<a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-tb-" data-value="s">S</a>
<a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-tb-" data-value="m">M</a>
<a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-tb-" data-value="l">L</a>
<a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-tb-" data-value="xl">XL</a>


<h2>Menú style</h2>
<a href="#" class="js-option" data-element=".navbar-item--menu" data-option="menu-style-" data-value="line">LINE</a>
<a href="#" class="js-option" data-element=".navbar-item--menu" data-option="menu-style-" data-value="back">BACKGROUND </a>


<h2>Call to action menú</h2>
    <h3>Style</h3>
<a href="#" class="js-option" data-element=".js-header-cta1" data-option="btn--s-" data-value="outline">OUTLINE</a>
<a href="#" class="js-option" data-element=".js-header-cta1" data-option="btn--s-" data-value="flat">FLAT</a>
    <h3>Border radius</h3>
    <a href="#" class="js-option" data-element=".js-header-cta1" data-option="border-radius-" data-value="xs">XS</a>
    <a href="#" class="js-option" data-element=".js-header-cta1" data-option="border-radius-" data-value="s">S</a>
    <a href="#" class="js-option" data-element=".js-header-cta1" data-option="border-radius-" data-value="m">M</a>
    <a href="#" class="js-option" data-element=".js-header-cta1" data-option="border-radius-" data-value="l">L</a>
    <a href="#" class="js-option" data-element=".js-header-cta1" data-option="border-radius-" data-value="xl">XL</a>


</div>

