<div class="topbar">
    <div class="max-width">
        {% if site.icontwitter %}<a class="nav-button-item btn-search" href="{{site.twitter}}"><span class="icon icon-twitter-with-circle fg-gray"></span></a>{% endif %}
        {% if site.iconyoutube %}<a class="nav-button-item btn-youtube" href="{{site.youtube}}"><span class="icon icon-youtube-with-circle fg-gray"></span></a>{% endif %}
        {% if site.iconpinterest %}<a class="nav-button-item btn-pinterest" href="{{site.pinterest}}"><span class="icon icon-pinterest-with-circle fg-gray"></span></a>{% endif %}
        {% if site.iconlinkedin %}<a class="nav-button-item btn-linkedin" href="{{site.linkedin}}"><span class="icon icon-linkedin-with-circle fg-gray"></span></a>{% endif %}

    </div>
</div>