
    <div class="navbar-fixed navbar navbar-logo--{{ page.logo-position }} is-hide " id="navbar">
        <div class="navbar-content is-hide border-bottom  bg-{{ page.menu-color }} bg-{{ page.menu2-color }} js-navigation-1">
            <div class="navbar-content-bar">
                <div class="{{ page.container }} js-container">
                    <div class="navbar-inner">
                        {% include tools/tools-left.html %}
                            {% include logo.html %}
                        {% include menu/menu.html style=page.menu-style align=page.menu-align  %}
                        {% include tools/tools-right.html %}
                    </div>


                </div>

                {% include search-bar.html %}
            </div>
        </div>

    </div>


