/*Breakpoints*/
$smartphones:"only screen and (max-width: 479px)";
$tablets:"only screen and (min-width: 480px) and (max-width: 768px)";
$laptop:"only screen and (min-width: 768px) and (max-width: 960px)";
$big:"only screen and (min-width: 960px)";



$font-family-base: 'Open Sans', sans-serif;


$tone-white: #ffffff;
$tone-dark: #222222;
$tone-gray: #969696;
$tone-main: #BE86B9;
body{
  font-family: $font-family-base;
  color: $tone-dark;
  margin: 0;
}
.fg-dark{
  color: $tone-gray;
}
.fg-white{
  color: $tone-white;
}
.bg-dark{
  background: $tone-dark;
  color: $tone-white;
}
.bg-white{
  background: $tone-white;
  color: $tone-white;
}
.bg-main{
  background: $tone-main;
}

a{
  text-decoration: none;
}

.max-width{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  @media #{$laptop}{
    max-width: 960px;

  }
  @media #{$tablets}{
    max-width: 768px;

  }
  @media #{$smartphones}{
    max-width: 479px;
  }

}


.text-align-center{
  text-align: center;
}
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
}

.font-weight-bold{
  font-weight: bold;
}

.padding-s{
  padding: 10px;
}
.padding-m{
  padding: 15px;
}
.padding-l{
  padding: 20px;
}

.padding-tb-s{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-tb-m{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-tb-l{
  padding-top: 40px;
  padding-bottom: 40px;
}
.padding-tb-xl{
  padding-top: 80px;
  padding-bottom: 80px;
}
.logo-size-xs{
  width: 100px;
}
.logo-size-s{
  width: 200px;
}

.logo-size-m{
  width: 250px;
  @media #{$smartphones}{
    width: 200px;
  }
}

.logo-size-l{
  width: 300px;
  @media #{$smartphones}{
    width: 200px;
  }
}
.logo-size-xl{
  width: 350px;
  @media #{$smartphones}{
    width: 200px;
  }
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}


.nav{
   display: table;
   table-layout: fixed;
   width:100%;
   &-item{
     float: none;
     display: table-cell;
     vertical-align: middle;
  }
  &-menu{
    list-style: none;
    width:70%;
    @media #{$smartphones}{
      display: none;
    }
    @media #{$tablets}{
      display: none;
    }
    @media #{$laptop}{
      display: none;
    }
    &-item{
      display: inline-block;

    }
  }
  &-logo{
    width:15%;
    @media #{$smartphones}{
      width:50%;
    }
  }
  &-button{
    width:15%;
    @media #{$smartphones}{
      width:50%;
    }
    .btn-ham{
      @extend .padding-s;
      @media #{$big}{
        display: none;
      }

    }
  }
  &-link{
    @extend .font-weight-bold;
  }

}

.background{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .bg-image{
    width: 100%;
    height: 100%;
    z-index: -5;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
  }
  .bg-color{
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute;
  }
}


.hero{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}