@import "mixins";
@import "variables";
@import "elements";
@import "menu-styles";
//@import "iconos-css";


/* Menú con flexbox */
.navbar{
  position: absolute;
  width:100%;
  .navbar-content {
    @include transition(transform .3s ease, background .3s ease);
  }
  &.navbar-fixed {
    .navbar-content {
      position: fixed;
      top: 0;
      width: 100%;
    }
    &.bg-white{
      .navbar-content, .navbar-item-logo{
        @extend .bg-white;

      }
    }
  }

  &.is-hide{
    .navbar-content{
      @include transform(translate(0, -100%));
      @include transition(transform 0.3s ease-out);
    }

  }

  .navbar-inner{
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(center);
    @include align-items(center);


    .navbar-item-menu{
      @extend .padding-lr-l;
      @media #{$smartphones}{
        display: none;
      }
      @media #{$tablets}{
        display: none;
      }
      @media #{$laptop}{
        display: none;
      }
      .nav-menu-item{
        display: inline-block;
        .nav-link{
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 14px;
        }
      }
    }
    .navbar-item-logo{
      @media #{$smartphones}{

      }
      @media #{$tablets}{

      }
      @media #{$laptop}{

      }
    }
    .navbar-item-utiles{
      @media #{$smartphones}{

      }
      @media #{$tablets}{

      }
      @media #{$laptop}{

      }
      .utiles-item{
        margin:5px;
        vertical-align: middle;
        display: inline-block;
        height: $utiles-icon-size;
        @media #{$smartphones}{
          height: $utiles-icon-size-small;
        }

        @media #{$smartphones}{
          margin: 0 2px;
        }
        &.btn{
           height: auto;
        }
      }
      .btn-menu {
        z-index:99;
        position: relative;
        overflow: hidden;
        width: $utiles-icon-size;
        @media #{$smartphones}{
          width: $utiles-icon-size-small;
        }
        @media #{$big}{
          display: none;
        }
        .btn-open-menu{
         position: absolute;
         left: 0;
        }
        .btn-close-menu{
          position: absolute;
          left: 0;
          top:0;
        }
        .btn-open-menu {
          opacity: 1;
        }
        .btn-close-menu {
          opacity: 0;
        }
      }

      .btn-search {
        position: relative;
        overflow: hidden;
        width: $utiles-icon-size;
        @media #{$smartphones}{
          width: $utiles-icon-size-small;
        }
        .btn-open-search, .btn-close-search{
          position: absolute;
          left:0;
        }
        .btn-open-search {
          opacity: 1;
        }
        .btn-close-search {
          opacity: 0;
        }
      }



    }


  }
  &.search-is-open {
    .navbar-content{
    @extend .bg-white;

    }
    .navbar-inner {
      .navbar-item-utiles{

        .btn-search{
          &::after{

          }
          &::before, &::after{
            opacity: 0;
          }
          span{
            &::before{
              @include rotate(135);
            }
            &::after{
              @include rotate(45);

            }
            &::before, &::after{
              opacity: 1;
              @include transition(opacity 0.3s, transform 0.3s);
            }

          }
        }
      }
    }


}


  &.navbar-logo{
   &--left, &--right{
     .navbar-item-logo {

       @media #{$smartphones}{
         @include flex-basis(40%);
       }
       @media #{$tablets}{
         @include flex-basis(40%);
       }
       @media #{$laptop}{
         @include flex-basis(40%);
       }

     }
     .navbar-item-menu {
       @include flex-grow(1);
     }
     .navbar-item-utiles {

       @media #{$smartphones}{
         @include flex-basis(60%);
       }
       @media #{$tablets}{
         @include flex-basis(60%);
       }
       @media #{$laptop}{
         @include flex-basis(60%);
       }
     }
   }

   &--top{
     .navbar-item-logo{
       @include transition(transform .3s ease, background .3s ease);
     }
     &.search-is-open{
       .navbar-item-logo{
         @extend .bg-white;

       }
     }
     .navbar-inner{
       .navbar-item-menu{
         margin-right: 25px;
       }
     }




   }

   &--right{
     .navbar-inner{
        @include flex-direction(row-reverse);
       @media #{$smartphones}{
         @include flex-direction(row);
       }
       @media #{$tablets}{
         @include flex-direction(row);
       }
       @media #{$laptop}{
         @include flex-direction(row);
       }
     }

   }
 }
}




.topbar{
  @extend .bg-dark;
  .topbar-item{
    display: inline-block;
    vertical-align: middle;
  }
  .icon{
    font-size: 22px;
  }
}

.menu-movil{
  display: none;
  position: absolute;
  top: 0;
  width: 260px;
  right: 0;
  height:100%;
  z-index:1;
  @extend .bg-main;
  .nav-menu-item{
    display: list-item;
    list-style-type: none;
    @extend .border-bottom;
    &:hover{
      background: darken($tone-main, 10%);
    }
  }
}

.page-is-moving{
  @include transform(translate(-260px, 0));
  @include transition(transform 0.5s ease 0s);
  .container &{
    @include transform(translate(-240px, 0));
  }

  .btn-ham{
    .btn-open-menu{
      opacity: 0;
     @include transition(opacity 1s linear);
     }
    .btn-close-menu{
      opacity: 1;
      @include transition(opacity 1s linear);
    }
  }

}

.page-is-static{
  .btn-ham{
    .btn-open-menu{
      opacity: 1;
     @include transition(opacity 1s linear);
    }
    .btn-close-menu{
      opacity: 0;
      @include transition(opacity 1s linear);
    }
  }

}



.search-bar{
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  @include transition(opacity 0.3s 0s, visibility 0s 0s, height 0.3s 0s);
  .search-is-open & {
    height: auto;
    opacity: 0.95;
    visibility: visible;
    @include transition(opacity 0.3s 0s, visibility 0s 0s, height 0.3s 0s);
  }
  .form-search-item{
    display: inline-block;
    vertical-align: middle;
  }
  .input-search{
    background: transparent;
    border: none;
    @extend .padding-s;
    font-size: 30px;
    width: 80%;
    font-family: $font-family-base;
    letter-spacing: 1px;
    @extend .fg-dark;
     &:focus{
       outline: none;
       @extend .fg-gray;
     }
    &::placeholder {
      @extend .fg-clear;
    }
    @media #{$smartphones}{
      width: 75%;
      font-size: 20px;
    }
    @media #{$tablets}{
      width: 75%;
    }
    @media #{$laptop}{
      width: 75%;
    }
  }
  .icon{
    font-size: 30px;
    @extend .padding-s;
  }

}

.options{


  @extend .padding-m;


}


.overflow-hidden{
  overflow: hidden;
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}


