
$font-family-base: 'Open Sans', sans-serif;
$tone-white: #ffffff;
$tone-dark: #222222;

body{
  font-family: $font-family-base;
  color: $tone-dark;
}
.tone-dark{
  color: $tone-dark;
}
.tone-white{
  color: $tone-white;
}
a{
  text-decoration: none;
}

.nav{
   display: table;
   table-layout: fixed;
   width:100%;
   &-item{
     float: none;
     display: table-cell;
     vertical-align: middle;
  }
  &-menu{
    list-style: none;
  }
  &-menu-item{
    display: inline-block;
  }
  &-link{
    @extend .tone-dark;
  }
}