.navigation{
  &-bottom{
    .navbar-logo--center{
      .tools-left{
        @media #{$big}{
          visibility: hidden;
          display: block;
        }
      }
      &.navbar-fixed{
          .tools-left{
            @media #{$big}{
              display:none;
            }
          }

      }
    }


  }

}



