
/*Breakpoints*/
$smartphones:"only screen and (max-width: 479px)";
$tablets:"only screen and (min-width: 480px) and (max-width: 768px)";
$laptop:"only screen and (min-width: 768px) and (max-width: 960px)";
$big:"only screen and (min-width: 960px)";



$font-family-base: 'Poppins', sans-serif;


$tone-white: #ffffff;
$tone-dark: #222222;
$tone-gray: #bcbcbc;
$tone-main: #BE86B9;

$utiles-icon-size: 30px;
$utiles-icon-size-small: 20px;


/* COLORES */

.fg{
  &-dark{
    color: $tone-dark;
  }
  &-gray{
    color: $tone-gray;
  }
  &-white{
    color: $tone-white;
  }
  &-main{
    color: $tone-main;
  }
}


.bg{
  &-dark{
    background: $tone-dark;
    color: $tone-white;
  }
  &-gray{
    background: $tone-gray;
    color: $tone-white;
  }
  &-white{
    background: $tone-white;
    color: $tone-dark;
  }
  &-main{
    background: $tone-main;
    color: $tone-white;
  }
}





/* CLASES DESCRIPTIVAS TEXTO */

.text-align{
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
}

.font-weight{
  &-bold{
    font-weight: bold;
  }
}
.text-transform{
  &-uppercase {
    text-transform: uppercase;
  }
}


/*CLASES PADDINGS*/

.padding{
  &-xs{
    padding: 5px;
  }
  &-s{
    padding: 10px;
  }
  &-m{
    padding: 15px;
  }
  &-l{
    padding: 20px;
  }
}

.padding-tb{
  &-xs{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &-s{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-m{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-l{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &-xl{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &-xxl{
    padding-top: 160px;
    padding-bottom: 160px;
  }

}


.logo-size{
  &-xs{
    width: 100px;
  }
  &-s{
    width: 200px;
    @extend .transition-breakpoints;
    @media #{$smartphones}{
      width: 160px;

    }
  }
  &-m{
    width: 250px;
    @extend .transition-breakpoints;
    @media #{$smartphones}{
      width: 160px;

    }
  }

  &-l{
    width: 300px;
    @extend .transition-breakpoints;
    @media #{$smartphones}{
      width: 160px;
    }
  }
  &-xl{
    width: 350px;
    @extend .transition-breakpoints;
    @media #{$smartphones}{
      width: 200px;

    }
  }
}

.position{
  &-relative{
    position: relative;
  }
  &-absolute{
    position: absolute;
  }
}


/* BORDE */

.border {
  &-bottom {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: transparentize($tone-gray, 0.5);
  }
  &-radius {

    &-m {
      border-radius: 10px;
    }
    &-l {
      border-radius: 20px;
    }
    &-xl {
      border-radius: 30px;
    }
  }
}



/* PORCENTAJES EN FLEXBOX */

.col-1-2{
  @include flex-basis(50%);
}

.col-1-3{
  @include flex-basis(33%);
}

.col-2-3{
  @include flex-basis(66%);
}



.transition-breakpoints{
  transition: width .25s linear;
  -moz-transition:  width .25s linear;
  -webkit-transition:  width .25s linear;
}