$icomoon-font-path: "fonts" !default;

$icon-chevron-down: "\e90c";
$icon-chevron-small-down: "\e90d";
$icon-magnifying-glass: "\e90a";
$icon-menu: "\e900";
$icon-shopping-cart: "\e901";
$icon-skype-with-circle: "\e902";
$icon-facebook-with-circle: "\e90b";
$icon-flickr-with-circle: "\e903";
$icon-google-with-circle: "\e904";
$icon-instagram-with-circle: "\e905";
$icon-linkedin-with-circle: "\e906";
$icon-pinterest-with-circle: "\e907";
$icon-twitter-with-circle: "\e908";
$icon-youtube-with-circle: "\e909";

