<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include menu/menu-mobile.html %}
    <div class="design page-is-static">

    <header class="header position-relative navigation-{{ page.navigation }}">

        {% include menu/menu-fixed.html %}
        {% if page.top-bar == 'true' %}
        {% include top-bar.html %}
        {% endif %}
        {% if page.navigation == 'top'%}
        {% include backdrop.html %}
        {% endif %}
        <div class="navbar navbar-logo--{{ page.logo-position }}  height-nav" id="navbar">

            {% if page.logo-position == 'top' or page.navigation == 'bottom'%}



                 <div class="navbar-content border-bottom bg-{{ page.menu-color }} js-navigation-1">
                     <div class="navbar-content-bar">
                         <div class="{{ page.container }}">
                             <div class="navbar-inner">

                                 {% include tools/tools-left.html %}

                                 <div class="navbar-item navbar-item--logo padding-tb-{{ page.logo-padding }}">
                                     {% include logo.html %}
                                 </div>

                                 {% include tools/tools-right.html %}

                             </div>
             </div>

          </div>
             </div>
            {% else %}
            {% endif %}
            {% if page.navigation == 'top'%}

            <div class="navbar-content border-bottom bg-{{ page.menu-color }}">
                <div class="navbar-content-bar">
                <div class="{{ page.container }}">
                    {% include menu/nav-inner.html %}


                </div>

                {% include search-bar.html %}
            </div>
            </div>
            {% else %}
            {% endif %}
        </div>

        {% if page.hero == 'true' %}
        {% include hero.html %}
        {% endif %}



        {% if page.navigation == 'bottom'%}
        {% include menu/navigation-bottom.html %}
        {% else %}
        {% endif %}
    </header>

    <main class="content fix-header-padding" id="main">
        <div class="container">
            <div class="padding-l">
                {% include options.html %}
                <br>

                {% include content.html %}


            </div>
        </div>
    </main>


    {% include footer.html %}
</div>



</body>
</html>