<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include menu-mov.html %}

<header class="header relative page-is-static">

        {% if site.top-bar == 'true' %}
        {% include top-bar.html %}
        {% endif %}
        <nav class="navbar navbar-logo-left padding-tb-s border-bottom">

            <div class="max-width">
                <div class="nav">
                    <div class="nav-item nav-logo text-align-left">
                        {% include {{ site.logo }} image="img/logo2.png" size="s" %}
                    </div>
                    {% include menu.html position="center" style="menu--line" %}
                    {% include nav-button.html %}
                </div>


            </div>

        </nav>

    {% if site.hero == 'true' %}
    {% include hero.html %}
    {% endif %}


</header>

<main class="content page-is-static">


   <div class="max-width">
       <div class="padding-l">
           <h2>Lorem ipsum dolor sit amet</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eu enim accumsan ultrices non porta nisi. Donec turpis enim, mollis iaculis ultricies id, placerat et nisl. Aenean vel felis rutrum est pellentesque cursus. Duis lorem erat, cursus nec viverra porta, hendrerit non mi. Duis non urna neque. Etiam ullamcorper velit et dolor pulvinar, at efficitur arcu condimentum. Quisque et nisi sit amet diam sagittis dictum. Aenean elementum rutrum blandit.</p>
           <p>Nam sed eros et justo rhoncus tempus. Fusce dignissim ac quam non varius. Mauris quis nunc erat. Cras quam ex, mattis non ullamcorper vel, venenatis vel mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet sollicitudin libero. Praesent maximus elit dolor, a aliquam tortor mollis ac. Praesent ac dignissim ante, eget venenatis eros. Mauris tempus elementum ante quis porta. Vivamus faucibus tellus erat, in tristique metus feugiat ut. Donec gravida nibh venenatis felis mattis viverra.</p>
           <p>Nullam tincidunt varius sollicitudin. Mauris cursus nisi dui, at vehicula nunc malesuada quis. Sed sollicitudin nibh sit amet mi fermentum, ac laoreet nisi mollis. Sed facilisis vestibulum dui, eget tincidunt enim condimentum sit amet. Integer suscipit nisl venenatis purus ullamcorper finibus. Duis vitae leo dapibus, congue mauris sit amet, facilisis leo. Suspendisse bibendum pulvinar felis, sit amet euismod metus convallis non. Proin in tellus a lorem cursus luctus et sodales orci. Donec at congue magna.</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eu enim accumsan ultrices non porta nisi. Donec turpis enim, mollis iaculis ultricies id, placerat et nisl. Aenean vel felis rutrum est pellentesque cursus. Duis lorem erat, cursus nec viverra porta, hendrerit non mi. Duis non urna neque. Etiam ullamcorper velit et dolor pulvinar, at efficitur arcu condimentum. Quisque et nisi sit amet diam sagittis dictum. Aenean elementum rutrum blandit.</p>
           <p>Nam sed eros et justo rhoncus tempus. Fusce dignissim ac quam non varius. Mauris quis nunc erat. Cras quam ex, mattis non ullamcorper vel, venenatis vel mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet sollicitudin libero. Praesent maximus elit dolor, a aliquam tortor mollis ac. Praesent ac dignissim ante, eget venenatis eros. Mauris tempus elementum ante quis porta. Vivamus faucibus tellus erat, in tristique metus feugiat ut. Donec gravida nibh venenatis felis mattis viverra.</p>
           <p>Nullam tincidunt varius sollicitudin. Mauris cursus nisi dui, at vehicula nunc malesuada quis. Sed sollicitudin nibh sit amet mi fermentum, ac laoreet nisi mollis. Sed facilisis vestibulum dui, eget tincidunt enim condimentum sit amet. Integer suscipit nisl venenatis purus ullamcorper finibus. Duis vitae leo dapibus, congue mauris sit amet, facilisis leo. Suspendisse bibendum pulvinar felis, sit amet euismod metus convallis non. Proin in tellus a lorem cursus luctus et sodales orci. Donec at congue magna.</p>

       </div>

   </div>

</main>


            {% include footer.html %}




<script>


        var altura = $('.navbar .nav').offset().top;

        $(window).on('scroll', function(){
            if ( $(window).scrollTop() > altura ){
                $('.navbar').addClass('navbar-fixed');
            } else {
                $('.navbar').removeClass('navbar-fixed');
            }
        });

        $(document).ready(function(){
            $('.page-is-static .btn-ham').click(function(){
                $('.header, .content, .footer').addClass('page-is-moving');
                $('.header, .content, .footer').removeClass('page-is-static');
                $('.menu-movil').addClass('display-block');
                $('body').addClass('overflow-hidden');

            });
            $('.page-is-moving .btn-close').click(function(){
                $('.header, .content, .footer').removeClass('page-is-moving');
                $('.header, .content, .footer').addClass('page-is-static');
                $('.menu-movil').removeClass('display-block');
                $('body').removeClass('overflow-hidden');
            });
        })

</script>
</body>
</html>