<!DOCTYPE html>
<html>
{% include head.html %}

<body>

<header>
        <nav class="nav">
               <div class="nav-item nav-logo">
               <a href="/"><img class="branding-logo" src="" alt="Alt logo"></a>
               <h1 class="nav-item branding-title"><a class="nav-link" href="/" title="">Title Logo</a></h1>
            </div>
               <ul class="nav-item nav-menu">
                <li class="nav-menu-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-menu-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-menu-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-menu-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-menu-item"><a class="nav-link" href="#">Home</a></li>

               </ul>
               <div class="nav-item nav-button">
                   <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </nav>

    {% include hero.html %}
</header>





<section class="content">
    <!--Slider-->


</section>

<div class="footer">
    <div class="container">
            {% include footer.html %}
    </div>
</div>



<script>



</script>


</body>
</html>