<!DOCTYPE html>
<html>
{% include head.html %}

<body>

<div class="design">
    {% include menu-mov.html %}

    <header class="header position-relative page-is-static">

        {% if site.logo-center.header.top-bar == 'true' %}
        {% include top-bar.html %}
        {% endif %}
        {% include backdrop.html %}
        <div class="navbar navbar-logo--{{ site.logo-center.header.logo.position }} logo-size-{{ site.logo-center.header.logo.size }} border-bottom" id="navbar">

            {% if site.logo-center.header.logo.position == 'top' %}
            <div class="navbar-item navbar-item-logo text-align-center padding-tb-{{ site.logo-center.header.logo.padding }}">
                {% include {{ site.logo }} image="img/logo2.png" %}
            </div>
            {% else %}
            {% endif %}
            <div class="navbar-content">
                <div class="{{ site.logo-center.header.container }}">
                    <div class="navbar-inner">

                        {% if site.logo-center.header.logo.position == 'left' or site.logo-center.header.logo.position == 'right' %}
                        <div class="navbar-item navbar-item-logo">
                            {% include {{ site.logo }} image="img/logo2.png" size="s" %}
                        </div>
                        {% else %}
                        {% endif %}
                        {% include menu.html position-menu="center" style="navbar-menu--back" %}
                        {% include utiles.html %}
                    </div>


                </div>

                {% include search-bar.html %}
            </div>


        </div>

        {% if site.logo-center.header.hero == 'true' %}
        {% include hero.html %}
        {% endif %}


    </header>

    <main class="content page-is-static" id="main">
        <div class="container">
            <div class="padding-l">
                {% include options.html %}
                <br>
                {% include content.html %}
                <br>
                {{ site.logo-center.header }}<br/>
                {{ site.logo-center.header.logo }}<br/>
                {{ site.logo }}<br/>
                {{ site.logo-center.header.logo.position }}<br/>
                {{ site.logo-center.header.hero }}<br/>
                {{ site.logo.position }}<br/>
            </div>
        </div>
    </main>


    {% include footer.html %}
</div>



</body>
</html>