<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include menu-mov.html %}

<header class="header position-relative page-is-static">

    {% if site.logo-center.header.top-bar == 'true' %}
    {% include top-bar.html %}
    {% endif %}
    {% include backdrop.html %}
    <div class="navbar navbar-logo--{{ site.logo-center.header.logo.position }}" id="navbar">

        {% if site.logo-center.header.logo.position == 'center' %}
        <div class="navbar-item navbar-item-logo text-align-center padding-tb-m">
            {% include {{ site.logo }} image="img/logo2.png" size="m" %}
        </div>
        {% elsif site.logo-center.header.logo.position == 'left' %}
        {% endif %}

        <div class="navbar-content border-bottom">
            <div class="container{% if site.logo-center.header.logo.position == 'center' %}-fluid{% elsif site.logo-center.header.logo.position == 'left' %}{% endif %}">

                <div class="navbar-inner padding-tb-s">

                    {% if site.logo-center.header.logo.position == 'left' %}
                    <div class="navbar-item navbar-item-logo text-align-left">
                        {% include {{ site.logo }} image="img/logo2.png" size="s" %}
                    </div>
                    {% elsif site.logo-center.header.logo.position == 'center' %}
                    {% endif %}

                    {% include menu.html position-menu="center" style="navbar-menu--line" %}
                    {% include utiles.html %}
                </div>


            </div>
            {% include search-bar.html %}
        </div>


    </div>

    {% if site.logo-center.header.hero == 'true' %}
    {% include hero.html %}
    {% endif %}


</header>

<main class="content page-is-static" id="main">


    <div class="container">
        <div class="padding-l">
            {% include options.html %}
            <br>
            {% include content.html %}
            <br>
            {{ site.logo-center.header }}<br/>
            {{ site.logo-center.header.logo }}<br/>
            {{ site.logo-center.logo }}<br/>
            {{ site.logo-center.header.logo.position }}<br/>
            {{ site.logo-center.header.hero }}<br/>
            {{ site.logo-center.logo.position }}<br/>
        </div>

    </div>

</main>


{% include footer.html %}


<script>
    var altura = $('.navbar-content').offset().top;
    var altura_del_nav = $('.navbar-content').outerHeight(true);

    $(window).on('scroll', function(){
        if ( $(window).scrollTop() > altura ){
            $('.navbar').addClass('navbar-fixed bg-white');
        } else {
            $('.navbar').removeClass('navbar-fixed bg-white');
        }
    });


    $('.content').css('padding-top', (altura + altura_del_nav) + 'px');


</script>


</body>
</html>