<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include menu-mov.html %}

<header class="header position-relative page-is-static">
    {% include backdrop-top.html %}
    {% if site.no-hero.header.top-bar == 'true' %}
    {% include top-bar.html %}
    {% endif %}
    {% include backdrop.html %}
    <div class="navbar navbar-logo--{{ site.no-hero.header.logo.position }} {% if site.no-hero.header.menu.position == 'fixed' %}navbar-fixed{% elsif site.no-hero.header.menu.position == 'static' %}{% endif %}" id="navbar">
        {% if site.no-hero.header.logo.position == 'center' %}
        <div class="navbar-item navbar-item-logo text-align-center padding-tb-m">
            {% include {{ site.logo }} image="img/logo2.png" size="m" %}
        </div>
        {% elsif site.no-hero.header.logo.position == 'left' %}
        {% endif %}
        <div class="navbar-content border-bottom">
            <div class="container{% if site.no-hero.header.logo.position == 'center' %}-fluid{% elsif site.no-hero.header.logo.position == 'left' %}{% endif %}">


                <div class="navbar-inner  padding-tb-s">

                    {% if site.no-hero.header.logo.position == 'left' %}
                    <div class="navbar-item navbar-item-logo text-align-left">
                        {% include {{ site.logo }} image="img/logo2.png" size="s" %}
                    </div>
                    {% elsif site.no-hero.header.logo.position == 'center' %}
                    {% endif %}

                    {% include menu.html position-menu="center" style="navbar-menu--line" %}
                    {% include utiles.html %}
                </div>


            </div>
            {% include search-bar.html %}
        </div>


    </div>

    {% if site.no-hero.header.hero == 'true' %}
    {% include hero.html %}
    {% endif %}


</header>

<main class="content page-is-static" id="main">


    <div class="container">
        <div class="padding-l">
            {% include options.html %}
            <br>
            {% include content.html %}
            <br>
            {{ site.no-hero.header }}<br/>
            {{ site.no-hero.header.logo }}<br/>
            {{ site.no-hero.logo }}<br/>
            {{ site.no-hero.header.logo.position }}<br/>
            {{ site.no-hero.header.hero }}<br/>
            {{ site.no-hero.logo.position }}<br/>
        </div>

    </div>

</main>


{% include footer.html %}


</body>
</html>